//WORK PAGE 

// Date A Celebrity Styles

.top-section-dateacelebrity {

    display: grid;
    grid-template-columns: 465px 1fr;

    @media (max-width: 940px){
        grid-template-columns: 1fr 1fr;
    }

    @media (max-width: 600px){
        grid-template-columns: 1fr;
    }

    .sidebar {
        background-image: url('../images/workpage2-01.jpg');
        background-size: cover;

        @media (max-width: 600px){
            background-image: none;
            background-color: $brand-color-bl;   
        }


        .logo img {
            display: block;
            width: 75px;
            height: 75px;
        }

        .nav-text {
            position: static;
            padding:15px;
            display: flex;
            align-items: center;

            @media (max-width: 760px){
                flex-wrap: wrap;
                .side-pic-logo {
                    width: 100%;
                    margin-bottom: 20px;
                }
                .side-pic-info {
                    padding-left: 0;
                }
            }

            @media (max-width: 600px){
                .side-pic-logo {
                    width: 75px;
                    margin-bottom: 0;
                    margin-right: 20px;
                }
            }

        }

        .side-pic-info {
            line-height: 1.4;
            color:white;
            padding-left:20px;

            h1 {
                font-family: "Roboto", sans-serif;
                font-weight: normal;
                margin: 0;
            }
        }

        .nav-02 p {
            display: inline;
            margin: 0;

            @media (max-width: 940px) {
                display: block;
            }
        }

        

    }

    .dateacelebrity-info {
        .section-01 {
            .port-item-title {
                color:$brand-color-pk;
                font-weight:$bold;
                font-size: 34px;
            }
            
            .port-description-02 {
                margin-left: 50px;

            }
            .line3 {
                border-bottom: $border;
                width:100px;
                margin: 30px 0px;
            }
            
            .work-description {
                font-size:20px;
                font-weight: bold;
                max-width:100%;
            }
            
            .work-concept {
                margin:25px 70px 25px 0px;
            }

            .live-btn {
                border-radius: 20px;
                background-color: $brand-color-yel;
                padding:10px 15px;
                text-decoration: none;
                outline: none;
                font-weight: $bold;
                font-family: $headers-font;
                font-size:19px;
                color:$brand-color-bl;
                margin-right:150px;
            }
            
            .live-btn a:hover {
                color: $brand-color-pk;
            }

            .toolkit ul {
                display: flex;
                list-style: none;
                padding:0;
                margin:0;
            }
            
            .toolkit img {
                height: 35px;
                width:auto;
                margin: 0px 10px 10px 0px; //top, right, bottom, left
            }
            
            .toolkit p {
                font-size:20px;
                font-weight: bold;
                margin: 10px 0px;
            
            }
            
            .work-intro-section {
                display: flex;
                align-items: center;
                justify-content: space-between;

                @media (max-width: 1038px) {
                    flex-wrap: wrap;
                }
            }
        }

        .section-02 {
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin-bottom: 4px;

            @media (max-width: 1180px){
                grid-template-columns: 1fr;
            }

        }

        .section-03 {
            margin-top: 0;

            .process-02 {
                background-color:$brand-color-bl;
                width:100%;
            }
            .process-heading {
                color:$brand-color-yel;
                font-weight: bold;
                font-size: 25px;
                padding:7px 0px;
                margin:0px 30px;
            }
            
            .process-info {
                padding: 17px 30px;
                max-width: 100%;
                color: white;
                margin: 0;
            
            }
            
        }

    }

    .concept {
        background-color: #051238;
        padding: 90px 60px;

        h2 {
            color: #fdc60b;
            font-weight: bold;
            font-size: 25px;
            margin-top: 0;
        }

        p {
            margin-bottom: 0;
            color: white;
        }

    }

    .work-logo2 {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #E51A1A;
        padding: 30px;
        img {
            display: block;
        }
    }

    .process-02 {
        height: auto;
    }

    .color-info {
        padding: 40px 70px; 
        text-align:center;

        @media (max-width: 465px){
            padding:40px 30px;
        }
    }

    .borders {
        display: flex;
        padding-top:20px;
        margin: 0 auto;

        @media (max-width: 1120px){
            width: 300px;
            flex-wrap: wrap;

            .border-001,
            .border-002 {
                margin-bottom: 30px;
            }

        }

    }

    .border {
        width:120px;
        height:auto;
        margin: 0 auto;
    }

    .border-tag {
        padding:0;
        margin:20px 0 0;
        font-size:15px;
        color:white;
        text-align: center;
    }

    .border-001 {
        border-top: 8px solid  #E51A1A;
    }

    .border-002 {
        border-top: 8px solid #fff;
    }

    .border-003 {
        border-top: 8px solid #636363;
    }

    .border-004 {
        border-top: 8px solid #000000;
    }

}

.middle-section-01 {
    margin-top: 50px;

    .section-04 {
        .mockups-container {
            display: grid;
            grid-template-columns: 1fr 2fr;
        }
        
        .mockups img {
            width:100%;
            height:auto;
            margin-right:5px;
        }
        
        .mockups-2 img {
            width:97%;
            height:auto;
            margin-left:30px;
            padding:0;
        }
        
        .mockups-2 img:first-child {
            margin-bottom: 20px;
        }

        .process-pic {
            margin: 0 auto;
            width:75%;
            padding:20px 40px;
            text-align: center;
        }
        
        h2 {
            text-align: center;
            color: $brand-color-bl;
            font-size: $section-heading;
            color: $brand-color-pk;
        }

        .process-pic img {
            -webkit-box-shadow: -1px 0px 12px 2px rgba(0,0,0,0.37);
            -moz-box-shadow: -1px 0px 12px 2px rgba(0,0,0,0.37);
            box-shadow: -1px 0px 12px 2px rgba(0,0,0,0.37);
        }
    }
}

.middle-section-02 {
    display: flex;
    align-items: center;
    text-align: center;

    .work-nav {
        background-color: $brand-color-yel;
        display: flex;
        font-weight:$bold;
        height:100px;
        width: 100%;
        justify-content: space-evenly;

        p {
            margin: 0;
        }

        a {
            font-family: "Roboto", sans-serif;
            font-size: 2.4em;
            padding: 0;
            text-decoration: none;
            outline: none;
            color:$brand-color-bl;
            line-height: 100px;
        }

        a:hover {
            color: $brand-color-pk;
        }
    }
    
}
